<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wm.someSB.dao.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="org.wm.someSB.model.SysUserRole">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYS_USER_ROLE
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.wm.someSB.model.SysUserRole">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into SYS_USER_ROLE (USER_ID, ROLE_ID)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.wm.someSB.model.SysUserRole">
    update SYS_USER_ROLE
    set USER_ID = #{userId,jdbcType=BIGINT},
      ROLE_ID = #{roleId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, USER_ID, ROLE_ID
    from SYS_USER_ROLE
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, USER_ID, ROLE_ID
    from SYS_USER_ROLE
  </select>
</mapper>